<!doctype html>
<html lang="en">

<head>
  <link rel="icon" href="/tab_icon.png"  type="image/png">
  <meta charset="utf-8">
  <title>Page Not Found</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">

</head>

<body>
  <% include ./header.ejs %>
    <h1>Oops! &#9785;</h1>
    <p>Page not found</p>
    <div class="footer">"Polls made easy"</div>
</body>

</html>

