<!DOCTYPE html>
<html lang="en">

<head>
  <title>Home Page</title>
   <!--external stylesheets-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--custom stylesheets-->
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />

  <!--external scripts-->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

  <!--app scripts-->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/create_poll.js"></script>

</head>

<body>
  <form id = "poll_form" action="/create" method="POST">
    <div>
      <!-- Email field !-->
      <label>Enter your Email to create a poll</label>
      <input type="email" name="creator_email" placeholder="example@example">
    </div>
    <div>
      <!-- Submit button !-->
      <button type="submit" class="btn btn-primary">Submit</button>
    </div>
    <div>
      <!-- Create question -->
      <label>What's the question everyone will be voting on?</label>
      <input type="text" name="question">
      <label><input name = "anonymous" type="checkbox" >anonymous</label>
    </div>
    <div>
      <!-- Create option 1 -->
      <label>Option 1</label>
      <input type="text" name="title[]">
      <input rows="3" name="description[]" placeholder = "description">
    </div>
    <div class="input_fields_wrap">
      <!-- Create option 2 -->
      <label>Option 2</label>
      <input type="text" name="title[]">
      <input rows="3" name="description[]" placeholder = "description">
    </div>
    <!-- Submit button !-->
    <button class="add_field_button btn btn-primary">Add More Fields</button>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</body>

</html>
