<!DOCTYPE html>
<html lang="en">

<head>
  <title>Start a Poll</title>
  <link rel="icon" href="/tab_icon.png"  type="image/png">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

  <!--custom stylesheets-->
  <link rel="stylesheet" href="styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="styles/nav-bar.css" />
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <!--external scripts-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

  <!--app scripts-->
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/create_poll.js"></script>

</head>

<body>
  <% include ./header.ejs %>
    <div class="container">
      <form class="poll_form" action="/create" method="POST">
        <div class="first_page">
          <div>
            <label>Where would you like to receive the links to your poll?</label>
            <input class="email_field" type="email" name="creator_email" placeholder="joel@joel.joel">
            <br>
            <label>Let your voters know who's asking the question</label>
            <input class="name_field" type="text" name="creator_name" placeholder="Joel Shinness">
            <br>
            <button id="firstpage_submit" type="submit" class="btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
          </div>
        </div>
        <div class="second_page">
          <div class="container">
            <div class="row">
              <!--<div class="col-md-4"></div>-->
              <div class="col-md-12">
                <label>Question</label><br>
                <input class="question_field" type="text" name="question">
              </div>
              <!--<div class="col-md-4"></div>-->
            </div>
          </div>
          <div class="container">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <label><input class="anon_button" name="anonymous" type="checkbox" > Votes are anonymous</label>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
          <div class="input_fields_wrap "></div>
          <div class="container">
            <div class="row">
              <div class="col-md-4"></div>
              <div class="col-md-4">
                <button id="home_button" class=" btn btn-menu-left btn-circle btn-lg"><i class="glyphicon glyphicon-menu-left"></i></button>
                <button class="add_field_button btn btn-plus btn-circle btn-lg"><i class="glyphicon glyphicon-plus"></i></button>
                <button type="submit" class="btn btn-success btn-circle btn-lg" data-target="#myModal"><i class="glyphicon glyphicon-ok"></i></button>
              </div>
              <div class="col-md-4"></div>
            </div>
          </div>
        </div>
        <!-- Modal !-->
        <div class="modal_block">
          <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h1 class="modal-title" id="ModalLabel">LLOP</h1>
                </div>
                <div class="modal-body">
                  Your poll has been successfully created!
                </div>
                <div class="modal-footer">
                </div>
              </div>
            </div>
          </div>
        </div>
      </form>
      <div class="footer">"Polls made easy"</div>
    </div>
</body>

</html>
