<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vote</title>
  <!--external stylesheets-->
  <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
  <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/tooltipster.min.css"></link>
  <link rel="stylesheet" href="  https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/css/themes/tooltipster-light.min.css"></link>
  <link href="https://fonts.googleapis.com/css?family=Dosis" rel="stylesheet">
  <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
  <link rel="stylesheet" href="/styles/nav-bar.css" />
  <link rel="stylesheet" href="/styles/vote.css" type="text/css" />


  <!--external scripts-->
  <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script type="text/javascript" src="/scripts/app.js"></script>
  <script type="text/javascript" src="/scripts/vote.js"></script>
  <script type="text/javascript" src="/scripts/sortable.js"></script>
  <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/tooltipster/3.3.0/js/jquery.tooltipster.min.js"></script>
</head>

<body>
  <% include ./header.ejs %>

    <!-- pass uri string to js file so can use it in find poll and choices function -->
    <script>
      var uri = <%- JSON.stringify(uri) %>;

    </script>
    <!-- begin form -->
    <form id="vote_form" action="/vote" method="POST">
      <!-- enter name -->
      <div class='name_container'>
        <label>Enter your name to vote</label>
        <input class="voter_name" type="text" name="name" placeholder="Joel Shinness">
        <button class="submit_name btn btn-success btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
      </div>
      <!-- begin poll options -->
      <div class="vote_container">
        <div class="question"></div>
        <ul class="sortable">
        </ul>
        <div class="container">
          <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
              <button type="submit" class="btn-circle btn-lg"><i class="glyphicon glyphicon-ok"></i></button>
            </div>
            <div class="col-md-4"></div>
          </div>
        </div>
      </div>
      <div class="modal_block">
        <div class="modal fade" id="myModal2" tabindex="-1" role="dialog" aria-labelledby="ModalLabel" aria-hidden="true">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title" id="ModalLabel">LLOP</h1>
              </div>
              <div class="modal-body">
                Thanks for voting, click <a href='/create'>here</a> to create a poll of your own!
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
    <div class="footer">"Polls made easy"</div>
</body>

</html>
