body {
  background: url("/van.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
  font-size: 35px;
  padding-top: 260px;
  margin: 0px auto;
  height: 100%;
  font-family: 'Dosis', sans-serif;
}

.btn-circle.btn-lg {
  width: 70px;
  height: 70px;
  padding: 10px 16px;
  font-size: 30px;
  line-height: 1.33;
  border-radius: 45px;
  border: 1px solid #90A4AE;
  background-color: #CFD8DC;
  color: #388E3C;
}

.btn-plus.btn-circle.btn-lg {
  color:#01579B;
  background-color: #CFD8DC;
}

.btn-remove.btn-circle.btn-lg {
  color: #BF360C;
  background-color: #CFD8DC;
  height: 50px;
  width: 50px;
  font-size: 18px;
}

.btn-circle.btn-lg:hover {
  border:3px solid #C8E6C9;
  transition: 0.5s;
}

.btn-plus.btn-circle.btn-lg:hover {
  border:3px solid #B3E5FC;
  transition: 0.5s;
}

.btn-remove.btn-circle.btn-lg:hover {
  border: 3px solid #FFAB91;
  transition: 0.5s;
}
.btn-menu-left.btn-circle.btn-lg {
  color: #FF9800;
}

.btn-menu-left.btn-circle.btn-lg:hover {
  border: 3px solid #FFE0B2;
  transition: 0.5s;
}

.second_page {
  display: none;
}

.email_field {
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #455A64;
  color: #455A64;
  font-weight: 500;
  outline: 0;
  text-align: center;
}

.name_field {
  margin: 0 auto;
  display: block;
  background: 0;
  border: 0;
  border-bottom: 3px solid #455A64;
  color: #455A64;
  font-weight: 500;
  outline: 0;
  text-align: center;
}

.question_field {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid lightgray;
}

.option {
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-left: 10px;
}

.description {
  position: relative;
  display: inline-block;
  border-radius: 10px;
  border: 1px solid lightgray;
  margin-right: 10px;
}

#text_field {
  text-align: right;
}

#description_field {
  text-align: left;
}

#myModal {
  padding-top: 200px;
}

.anon_button {
  -webkit-appearance:none;
  width:25px;
  height:25px;
  background:white;
  border-radius:5px;
  border:1px solid #90A4AE;
}

.anon_button:checked {
  background: #00838F;
}
