body {
  background-color: #E0F2F1;
  text-align: center;
  font-size: 35px;
}

#page-wrap {
  width: 800px;
  margin: 0 auto;
}

.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  padding: 10px 16px;
  font-size: 18px;
  line-height: 1.33;
  border-radius: 25px;
  background-color: #CFD8DC;
  color: #388E3C;
  border: 0;
}

.btn-plus.btn-circle.btn-lg {
  color:#01579B;
  background-color: lightgray;
}

.btn-remove.btn-circle.btn-lg {
  color: #BF360C;
}

.btn-circle.btn-lg:hover {
  border:3px solid #C8E6C9;
  transition: 0.5s;
}

.btn-plus.btn-circle.btn-lg:hover {
  border:3px solid #B3E5FC;
  transition: 0.5s;
}

.btn-remove.btn-circle.btn-lg:hover {
  border: 3px solid #FFAB91;
  transition: 0.5s;
}

.second_page {
  display: none;
}

body {
  padding-top: 140px;
  margin: 0px auto;
}

// .first_page {
//   font-size: 35px;
//   margin: 0 auto;
//   text-align: center;
// }

.email_field {
  width: 70%;
  border-radius:10px;
  border: 1px solid lightgrey;
  padding-left: 10px; 
}

.name_field {
  width: 70%;
  border-radius:10px;
  border: 1px solid lightgrey; 
  padding-left: 10px;   
}




