#nav-bar {
  position: fixed;
  height: 90px;
  width: 100%;
  color: white;
  padding-left: 2em;
  padding-right: 2em;
  top: 0;
  z-index: 99999;
  background: #00838F;
}

// .header {
//   text-align: left;
//   padding: 
//   font-size: 36px;
// }